usernamecache.json
usercache.json
TLauncheProfiles.json
TempOptifineStore-1.0.json
servers.dat
launcher_profiles.json
versions
screenshots
saves
runtime
logs
libraries
defaultconfigs
crash-reports
cache
TlauncherProfiles.json
mods/tl_skin_cape_forge_1.20-1.38.jar
